# Default ignored files
/shelf/
/workspace.xml
/compiler.xml
/dbnavigator.xml
/sonarlint/issuestore/index.pb
/jarRepositories.xml
/misc.xml
/inspectionProfiles/Project_Default.xml
/uiDesigner.xml
/vcs.xml
/sonarlint/issuestore/7/c/7c5832f9b0e00acc22e85965072447e969b50426
