# Default ignored files
/shelf/
/workspace.xml
/compiler.xml
/dbnavigator.xml
/sonarlint/issuestore/index.pb
/jarRepositories.xml
/misc.xml
/inspectionProfiles/Project_Default.xml
/uiDesigner.xml
/vcs.xml
/ioc-container.iml
/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_2.xml
/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_2.xml
/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_2.xml
/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_2.xml
/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_2.xml
/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_2.xml
/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/libraries/Maven__org_projectlombok_lombok_1_18_24.xml
/libraries/Maven__org_springframework_spring_aop_6_0_0_M3.xml
/libraries/Maven__org_springframework_spring_beans_6_0_0_M3.xml
/libraries/Maven__org_springframework_spring_context_6_0_0_M3.xml
/libraries/Maven__org_springframework_spring_core_6_0_0_M3.xml
/libraries/Maven__org_springframework_spring_expression_6_0_0_M3.xml
/libraries/Maven__org_springframework_spring_jcl_6_0_0_M3.xml
/libraries/Maven__org_springframework_spring_test_6_0_0_M3.xml
/modules.xml
/sonarlint/issuestore/7/c/7c5832f9b0e00acc22e85965072447e969b50426
/sonarlint/issuestore/f/8/f84b73020835bddb2a31e6be28dcc1bc99b55d7d
/sonarlint/issuestore/3/1/3197fa27b722c6dad1cfc040ae4debef6cf40a91
/sonarlint/issuestore/e/f/ef27485bd258595e67a59b4caf0c7ddabef39de8
/sonarlint/issuestore/2/b/2b08993d7501fec80db8ec00acdacfa3fc5d099a
/sonarlint/issuestore/9/7/97d382c27b60306039106027f8663a7b4b84f197
/sonarlint/issuestore/6/6/667d3be190dd2388b86357b633e82ea4fdf06f30
/sonarlint/issuestore/0/0/001747f584f23ffe51f6c175311ac18ea8b235a8
/sonarlint/issuestore/3/1/31650ff2b2d4e5b0882cab0308bef0a118507910
/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/sonarlint/issuestore/a/2/a2727242776ab856c07c36e4a8edcd20b4c8577b
/sonarlint/issuestore/a/e/ae7764da1b8325934a031de538df80084f67c6f6
/sonarlint/issuestore/c/0/c05fec677757d66f484011ca7591acf58fe71f7f
/sonarlint/issuestore/d/f/df64808f212bd211bd252786fbdebc6e8839bcdf
/sonarlint/issuestore/e/4/e43bf3df60b6d4ca8d4bf5d2d74a429353f1953c
/sonarlint/issuestore/e/c/ec2ae23688f825aa036fcf837c420811b360e7dc
/sonarlint/issuestore/f/5/f5a70f35b07e28cc98aff834b8672e4e438ffb0a
/sonarlint/issuestore/f/c/fc5bf3e6709fb6a3d623ffaaea37b8c85f778175
/sonarlint/issuestore/f/d/fdb6f9b4d128fdc17ff7e3b80fc1c4162cbab6b6
