# Default ignored files
/shelf/
/workspace.xml
/compiler.xml
/dbnavigator.xml
/sonarlint/issuestore/index.pb
/jarRepositories.xml
/misc.xml
/inspectionProfiles/Project_Default.xml
/uiDesigner.xml
/vcs.xml
